*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
.games{
    padding: 1rem;
    transition: 0.2s ease;
}
.games:hover{
    background: #f7f7f7;
}
main a{
    text-decoration: none;
    color: inherit;
}
.imgBox{
    width: 100%;
    overflow: hidden;
}
.imgBox img{
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    object-fit: cover;
}
@media (min-width: 500px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1000px){
    main{
        grid-template-columns: repeat(3, 1fr);
    }
}
