*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imgBox{
    width: 100%;
    overflow: hidden;
}
.imgBox img{
    aspect-ratio: 7/9;
    object-fit: cover;
}